<!doctype html>
<%
  var data = en;

  /**
   * Convert obj to html
   *
   * @see app/data/data.js
   */
  function convertObj(item, depth) {
    var tmp = [], i, ilen, tag = 'div', attr = [], list = [];

    if (depth <= 2) {
      tag = 'section';
    }

    if (item.attr) {
      for (i in item.attr) {
        attr.push(i + '="' + item.attr[i] + '"');
      }
      tmp.push('<' + tag + ' '+ attr.join(' ') +'>');
    } else {
      tmp.push('<' + tag + '>');
    }

    if (item.title) {
      tmp.push('<h' + depth + '>' + item.title + '</h' + depth + '>');
    }
    if (item.meta) {
      for (i in item.meta) {
        list.push('<li class="' + i + '">' + item.meta[i] + '</li>');
      }
    }
    if (item.contents) {
      for (i = 0, ilen = item.contents.length; i < ilen; ++i) {
        if ('object' === typeof item.contents[i]) {
          list.push('<li>' + convertObj(item.contents[i], depth + 1) + '</li>');
        } else {
          list.push('<li>' + item.contents[i] + '</li>');
        }
      }
    }

    if (list.length) {
      tmp.push('<ul>' + list.join('') + '</ul>');
    }

    tmp.push('</' + tag + '>');

    return tmp.join('');
  }

%>

<html lang="<%= data.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= data.title %></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <h1><%= data.name %></h1>
      <nav>
        <ul>
          <% for (var i = 0, ilen = data.nav.length; i < ilen; ++i) { %>
            <li><%= data.nav[i] %></li>
          <% } %>
        </ul>
      </nav>

      <section>
        <ul>
          <% for (var i = 0, ilen = data.social.length; i < ilen; ++i) { %>
            <li><%= data.social[i].name %></li>
          <% } %>
        </ul>
      </section>
    </header>

    <% data.sections.map(function(item) { %>
      <%- convertObj(item, 2); %>
    <% }); %>

    <footer>
      <small>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" class="cc"></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><i>Zhibin Huang</i></span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://github.com/benjah1" property="cc:attributionName" rel="cc:attributionURL">benjah1</a> is licensed under a <a rel="license"
href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>. Please contact Support at <a href="mailto:benjaminhuang1@gmail.com">benjaminhuang1@gmail.com</a> for more information.</small>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script rc="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
